@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

.mapboxgl-popup-close-button {
  color: black;
  font-size: 20px;
  margin-top: -2px;
}

.control-content {
    font-size: .75rem;
    font-weight: 300;
    color: #1a202c;
    margin: .5rem;
}

.mapbox-improve-map {
  display: none !important;
}

/* .mapboxgl-popup {
padding: -5px;
} */

/* popup remove default card padding */
/* .mapboxgl-popup-content {
  background: none !important;
  box-shadow: none !important;
}

/* popup remove default card arrow */
/* .mapboxgl-popup-tip {
  display: none !important;
} */ 

/* .mapboxgl-ctrl-group {
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  padding: 2%; 
  margin: 2%;
}

.mapboxgl-ctrl-group label {
  display: block;
  cursor: pointer;
  color: black;
} */
