@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mapboxgl-popup {
  padding:1%;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
}

.mapboxgl-popup-close-button {
  margin: 1%;
  padding: 1%;
  color: black;
  font-size: 30px;
  line-height: 20px;
  z-index:10;
}

.mapboxgl-ctrl-group {
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  padding: 2%; 
  margin: 2%;
}

.mapboxgl-ctrl-group label {
  display: block;
  cursor: pointer;
  color: black;
}

/* .mapboxgl-ctrl-logo {
  display: none !important;
} */

.mapbox-improve-map {
  display: none !important;
}

@media only screen and (max-width: 480px) {
  .mapboxgl-popup-content {
      max-width: 250px;
  }
  .mapboxgl-popup-content div {
      padding:0em;
  }
  .mapboxgl-popup-content p {
      margin: 0.5em 0.5em;
  }
}